.my-app{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

h1 {
    position: relative;
    
    z-index: 10;
}

.my-app-page{
    width: 100%;
    margin-left: 210px; 
}

.my-menu{
    height: 100%;
}